src/datascraping
XGBModelCreator.py
prax2.py
data/
/data
*.xgb

*.joblib
*.h5
*.csv
*.npy

# Streamlit and logs
.streamlit/
*.log

# Environment files
.env
*.sqlite
*.db


# Python cache and artifacts
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Jupyter and IDE files
.ipynb_checkpoints/
.vscode/
.DS_Store

